.header {
  height: 80px;
  margin: 0px;
  width: 100vw;

  background-color: #f7f7f7;

  position: fixed;
  top: 0px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  
  .nav-block {
    margin: 8px;
  }

  .logo {
    width: 164px;
    height: 45px;
    background-size: 164px 45px;
    background-image: url(https://lokafy.com/static/images/logos/logo-blue.png?a53062112ebe);
    @media (max-width: 768px) {
      width: 60px;
      height: 60px;
      background-size: 60px 60px;
      background-image: url(https://lokafy.com/static/images/logos/logo-blue-favicon.png?a53062112ebe);
    }
  }
}
